/* DIJJIRESTOCK BASE VARIABLES
/* SHAYNE TROSDAHL
------------------*/
/* LAYOUT COLORS 
------------------*/
/* FONT
------------------*/
/* BUTTON
------------------*/
/* MIXINS
/* SHAYNE TROSDAHL
------------------*/
/* BUTTON CSS
/* SHAYNE TROSDAHL
------------------*/
.i-button {
  -webkit-box-flex: 1 100px;
  -moz-box-flex: 1 100px;
  -webkit-flex: 1 100px;
  -ms-flex: 1 100px;
  flex: 1 100px;
  background-color: #62b8e7;
  border: 0.2em solid white;
  border-radius: 0.4em;
  color: white;
  background-image: none;
  min-height: 1.8em;
  margin: 0.5em 0.5em;
  padding: 0.3em 0.6em;
  background-clip: padding-box;
  box-align: center;
  position: relative;
  overflow: hidden;
  -webkit-background-clip: padding;
  -webkit-box-align: center;
  -webkit-user-select: none; }

.i-button a {
  color: white;
  margin: auto;
  display: block;
  text-decoration: none;
  line-height: 1.6em; }

.i-button-green {
  background-color: #2de54f; }

.i-button-icon {
  width: 2.1em;
  height: 2.1em;
  background-repeat: no-repeat;
  background-position: center;
  display: none; }

.i-button-label {
  -webkit-box-flex: 1 100px;
  -moz-box-flex: 1 100px;
  -webkit-flex: 1 100px;
  -ms-flex: 1 100px;
  flex: 1 100px;
  color: white;
  -webkit-box-align: center;
  box-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
  font-weight: bold;
  line-height: 1.6em;
  display: block;
  overflow: hidden;
  text-decoration: none; }

.i-button:hover {
  box-shadow: inset 0 0 4em #62b8e7; }

.i-icon {
  height: 3em;
  width: 3em;
  padding: 0 .5em;
  position: relative;
  -webkit-box-pack: center;
  box-pack: center; }

.i-footer .i-icon {
  min-height: 5em !important;
  min-width: 5em !important;
  padding: 0 .5em;
  position: relative;
  -webkit-box-pack: center;
  box-pack: center; }

.i-icon-easytoachieve {
  background-image: url("icons/logo-easytoachieve.svg");
  min-width: 4.90em !important;
  min-height: 4.90em !important;
  margin: 0 auto;
  position: relative;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
  display: block; }

/* FOOTER CSS
/* SHAYNE TROSDAHL
------------------*/
/* sass --watch sass:compiled */
body, html {
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue",HelveticaNeue,"Helvetica-Neue",Helvetica,"BBAlpha Sans",sans-serif;
  font-weight: normal;
  font-size: 1em !important; }

.right {
  float: right !important; }

.left {
  width: auto;
  height: auto;
  margin: auto; }

.centered {
  margin: auto; }

img {
  /* CENTERS IMAGE/S WITHIN CONTAINER */
  width: auto;
  height: auto;
  margin: auto; }

.flex-1 {
  -webkit-flex: 1 !important; }

.flex-2 {
  -webkit-flex: 2 !important; }

.flex-3 {
  -webkit-flex: 3 !important; }

.flex-4 {
  -webkit-flex: 4 !important; }

.i-wrap-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  justify-content: flex-end; }

.i-hbox {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap; }

.i-footer {
  background-color: #62b8e7;
  padding: .3em;
  min-height: 200px;
  color: white; }

.i-footer-column {
  padding: .5em;
  background: #62b8e7;
  -webkit-box-flex: 1 175px;
  -moz-box-flex: 1 175px;
  -webkit-flex: 1 175px;
  -ms-flex: 1 175px;
  flex: 1 175px;
  text-align: center;
  margin: .3em; }

.i-footer-column-title {
  color: #62b8e7 !important;
  margin-top: 0;
  font-size: 1.0em !important;
  background: white;
  border-radius: .2em;
  padding: .2em 0 .3em;
  line-height: 1.2; }

.i-footer-legal {
  -webkit-box-flex: 1 100px;
  -moz-box-flex: 1 100px;
  -webkit-flex: 1 100px;
  -ms-flex: 1 100px;
  flex: 1 100px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  color: rgba(0, 117, 156, 0.1);
  background: #62b8e7;
  text-align: center;
  margin: .3em;
  padding: .5em;
  color: white;
  -webkit-flex-flow: row wrap; }

.i-footer-legal {
  font-size: .7em; }

.i-footer-legal p {
  text-align: left !important; }

.i-footer-column, .i-footer-legal {
  border-radius: .3em !important;
  box-shadow: inset 0 0 4em #62b8e7; }

/*------------------------------------ TWITTER FEED START */
.tweet {
  background-color: rgba(255, 255, 255, 0.5); }

/*------------------------------------ EMMA SUBSCRIBE FORM START */

/*------------------------------------ EMMA SUBSCRIBE FORM END 	*/
