/* DIJJIRESTOCK BASE VARIABLES
/* SHAYNE TROSDAHL
------------------*/

/* LAYOUT COLORS 
------------------*/

$i-main-background-color: 	rgba(98, 184, 231,1);
$i-main-border-color: 		rgba(255,255,255,1);

/* FONT
------------------*/

$i-main-font-color: 		rgba(255,255,255,1);
$i-font-color-dark: 		rgba(98, 184, 231,1);

/* BUTTON
------------------*/

$i-button-green: 			#2de54f;
$i-button-dark-gray: 		#737373;
$i-button-hover-color: 		rgba(98,184,231,1.0);

$i-button-border-radius: 	0.4em;
